<div class="rows">
    <input type="text" class="search margins" [(ngModel)]="searchQuery" placeholder="Search for a movie" (keydown.enter)="filterMovies()">
    <button class="button" (click)="filterMovies()">Go!</button>
</div>
<div class="card-container" >
    <mat-card class="reserv-card margins" *ngFor="let movie of movies">
        <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>{{ movie.original_title }} ({{ movie.original_title_romanised }})</mat-card-subtitle>
        </mat-card-header>
        <!-- Aquí puedes agregar la imagen de la película si lo deseas -->
        <mat-card-content>
        <p>{{ movie.description }}</p>
        <p><strong>Director:</strong> {{ movie.director }}</p>
        <p><strong>Producer:</strong> {{ movie.producer }}</p>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Running Time:</strong> {{ movie.running_time }} mins</p>
        <p><strong>Rotten Tomatoes Score:</strong> {{ movie.rt_score }}</p>
        </mat-card-content>
        <div class="rows margins">
            <button class="button marginRigth" (click)="deleteMovie(movie.id)">Delete</button>
            <button class="button" [routerLink]="['/update']" [queryParams]="{ id: movie.id }">Update</button>
        </div>
    </mat-card>
</div>
